# Pliki Pythona
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Środowiska wirtualne
venv/
env/
ENV/
.venv

# PyCaret
*.joblib
*.log

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# System
.DS_Store
Thumbs.db

# Dane
*.csv
*.xlsx
*.json
data/

# Audio files
*.wav
*.mp3
*.m4a

prognoza-cen-ubezpieczen/
