# Biblioteki wymagane do aplikacji przewidywania kosztów ubezpieczenia
streamlit==1.29.0
pycaret==3.1.0
pandas==2.0.3
numpy==1.24.3
plotly==5.18.0
scikit-learn==1.3.2
audio-recorder-streamlit==0.0.8
speechrecognition==3.10.0
pydub==0.25.1
